@font-face {
	font-family: '';
	src: url('');
	font-display: swap;
}

body {
	color: #111;
	font-size: 1rem;
	font-weight: 400;
	min-height: 100vh;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(1px);
	white-space: nowrap;
	border: 0;
}

select {
	line-height: 1.5;
}

*:focus-visible {
	outline-offset: 2px;
	outline-width: 2px;
	outline-style: dashed;
}
